.dashboardText {
  font-style: italic;
  font-size: 1.4rem;
}

#chartdiv {
  width: 100%;
  height: 250px;
}

.creditScore {
  color: #29bd78;
}
.lowCredit {
  color: #bd2929;
}
.medCredit {
  color: #bd9629;
}

.highCredit {
  color: #29bd78;
}

.creditSubHead {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.questionWrapper {
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}

.welcomeSection {
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.questionTitle,
.dashboardText,
.academyTitle,
.serviceTitle {
  color: #17293f;
}

.academyWrapper {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}
.academyCenter,
.questionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.serviceWrapper {
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.serviceWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.serviceCenter {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 140rem;
  flex-direction: column;
}

.serviceCenter2 {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 70rem;
  flex-direction: column;
}

.twotime {
  margin-left: 0.9rem;
}
.serviceWrapper2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.serviceItem {
  height: 10rem;
  margin-top: 2rem;
  text-align: left;
  transition: 200ms ease all;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1rem;
}

.serviceItem:hover {
  height: 10rem;
  margin-top: 2rem;
  text-align: left;
}

.serviceItemColor1,
.serviceItemColor2,
.serviceItemColor3,
.serviceItemColor4,
.serviceItemColor5 {
  color: #17293f;
}

.serviceItemBtn1 {
  width: 8rem;
  height: 2rem;
  border-radius: 0.2rem;
  color: #29bd78;
}

.serviceItemBtn4,
.serviceItemBtn3 {
  width: 8rem;
  height: 2rem;
  border-radius: 0.2rem;
  color: white;
  background-color: #29bd78;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.serviceItemBtn2 {
  width: 8rem;
  height: 2rem;
  border-radius: 0.2rem;
  color: white;
  background: #2958bd;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.serviceItemBtn6 {
  width: 8rem;
  height: 2rem;
  border-radius: 0.2rem;
  color: white;
  background: #e77d4c;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.serviceText {
  color: #2b3e55;
}

.serviceItemBtn2,
.serviceItemBtn3,
.serviceItemBtn4,
.serviceItemBtn6,
.serviceItemBtn1 {
}

@media (max-width: 1155px) {
  .widththing {
    width: 30rem;
  }

  div.serviceItem {
    width: 10rem;
    min-width: 10rem;
  }
  .serviceItemColor1,
  .serviceItemColor2,
  .serviceItemColor3,
  .serviceItemColor5,
  .serviceItemColor4 {
    width: 20rem;
  }
}

@media (max-width: 591px) {
  .academyImage {
    width: 20rem;
  }

  .widththing {
    width: 20rem;
  }

  div.serviceItem {
    width: 10rem;
    min-width: 10rem;
  }
  .serviceItemColor1,
  .serviceItemColor2,
  .serviceItemColor3,
  .serviceItemColor5,
  .serviceItemColor4 {
    width: 20rem;
  }

  .academyWrapper {
    width: 0rem;
  }
  .academyTitle {
    width: 20rem;
  }

  #btnthing {
    padding: -10rem !important;
  }
  .widththing {
    width: 20rem;
  }

  div.serviceItem {
    width: 10rem;
    min-width: 10rem;
  }
  .serviceItemColor1,
  .serviceItemColor2,
  .serviceItemColor3,
  .serviceItemColor5,
  .serviceItemColor4 {
    width: 10rem;
  }
}

@media (max-width: 430px) {
  .serviceWrapper {
    width: 100%;
  }

  .serviceItem {
    margin-left: -6rem;
  }
  #penis{
      margin-left: -5rem;
  }
  .serviceTitle {
    text-align: left;
  }
}

@media (max-width: 400px) {
  .serviceWrapper {
    width: 100%;
  }

  .serviceItem {
    margin-left: -6rem;
  }
  .serviceTitle{
      margin-left: -3rem;
  }
  #superawesome{
      margin-left: -0rem!important;
  }
  #loanloanloan{
      margin-left: -3em!important;
  }
  #thitnhgitng{
    margin-left: -3rem!important;

  }

  #qweqwe{
    margin-left: 0rem!important;
  }

  h4#loler{
      margin-left: 0rem!important;
  }
  h6#superawesome{
      margin-left: 0rem!important;
  }
  .serviceText{
    margin-left: -3rem;

  }
  h6.serviceText{
    margin-left: 0rem;
  }
  .serviceTitle, .serviceText {
    text-align: left;
  }
  
}



@media (max-width:429px) {
    #superawesome{
        margin-left: 0rem!important;
    }
    #loler{
        margin-left: 0rem!important;
    }
}
@media (max-width:450px) {
    h4.questionTitle{
        width: 20rem;
    }
    h4.serviceTitle{
        width: 20rem;
    }

    h5.serviceItemColor2,h5.serviceItemColor5, h5.serviceItem{
        width: 17rem;
    } 
}

@media(max-width:431px){
    .as{
        margin-left: 2rem;
    }
    .help{
        margin-left: -3rem;
    }
    .helpss{
        margin-left: -4rem;
    }
    #nasds{
        margin-left: -2rem!important;
    }
}

@media(max-width:400px){
    #asdasdasdasd{
        margin-left: 1rem;
    }
    #g{
        margin-left: 1rem;
    }
}