
nav{
    position: fixed!important;
    z-index: 10;
    box-shadow: none;
    height: auto;
}

.navbar{
    background-color: #263343f3!important;
    top: 0;
    
}


.lendingTree{
    height: 4rem;
}

.dropdown-menu{
    background-color: #263343f3!important;
    margin-top: .4rem;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: #364b64f3;
}
.navClear{
    background: transparent!important;
    border: none!important;
}
.navBtn{
    border-radius: 50rem;
    padding-left: 2.3rem!important;
    padding-right: 2.3rem!important;
    margin-left: 1rem;
}

.navWidth{
    width: 20rem;
}

.nav-link:hover{
    color:#4193ff!important
}
.nav-link{
    transition: 200ms ease all;
    color:rgb(255, 255, 255)!important;
}



.dropdown-item:hover{
    color:#4193ff!important
}

.dropdown-item{
    transition: 200ms ease all;
}

.navbar-brand{
    color: #29bd78!important;
    transition: 200ms ease all;
}

.navbar-brand:hover{
    color: #1f6646!important;
}


@media(max-width:1150px){
    .navWidth{
        width: 10rem;
    }
}

@media(max-width:1150px){
    .navWidth{
        width: 5rem;
    }
}

@media(max-width:768px){
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: rgb(255, 255, 255) !important;
}

